# --- Logs e Arquivos Temporários do Neovim ---
*.log
*.tmp
.netrwhist

# --- Arquivos de Cache e Sessão do Sistema ---
.DS_Store
Thumbs.db
.directory

# --- Arquivos Temporários de Editores (Swap/Backup) ---
*.swp
*.swo
*~

# --- Backups Automáticos do AstroNvim / Lazy ---
# Alguns gerenciadores criam travas ou backups locais de estados de plugins
lock_backup.json
.lazy.lock.json.bak

